.line-hover{
      cursor: pointer;
      border-width: 3px;
      border-color: transparent;
      font-weight: 700;
      color: slategray;
      line-height: 30px;
      padding: 4px;
      padding-left: 0;
      margin-right: 20px;
}

.line-hover:hover,.line-hover:active,.line-hover:focus,.line-hover:target,.active{
    color: red;
    border-bottom-color: red;
}